/* Styling the body of pokedex app */

/* Variables */
:root {
  --main__background--color: #000;
  --main__text--color: #800;
  --button__background--color: #ff7b69;
  --text__border--color: #dbf303;
}
/* Styling starts here  */
body {
  font-size: 30px;
  font-family: emoji;
  line-height: 90px;
  word-spacing: 5px;
  color: var(--main__text--color);
  /* display: flex;
  justify-content: center; */
  background: url("/image/pokemon.jpeg");
  /* background-size: 215vh; */
}

/* button for pokemon__list */
.pokemon__list--button {
  border: 2px solid #dbf303;
  cursor: pointer;
  text-align: center;
  background-color: var(--button__background--color);
  color: var(--main__background--color);
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px;
  border-radius: 15px;
}

.head {
  text-align: center;
  text-transform: uppercase;
  color: var(--text__border--color);
}
