/* Styling the body of pokedex app */

/* Variables */
:root {
  --main__background--color: #000;
  --main__text--color: #800;
}
/* Styling starts here */
body {
  font-size: 30px;
  font-family: emoji;
  line-height: 90px;
  word-spacing: 5px;
  color: var(--main__text--color);
  background: var(--main__background--color);
  display: flex;
  justify-content: center;
  position: relative;
  top: 250px;
}
